@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Inter;
  @apply flex flex-col min-h-screen;
}

header, main {
  @apply container mx-auto px-2 lg:px-0 bg-white;
}

header {
  @apply flex justify-between items-center;
}

main {
  @apply relative flex min-h-full flex-1 flex-col justify-center text-sm md:text-base;
}

// Layout

.nav-link {
  @apply relative inline-block font-medium tracking-wide;

  &:after {
    @apply relative bottom-0 left-0 content-[''] block w-0 h-1 bg-black transition-[width] duration-300 ease-in-out;
  }

  &:hover:after {
    @apply w-full;
  }
}

.nav-link__active {
  @apply relative inline-block font-medium tracking-wide;

  &:after {
    @apply relative bottom-0 left-0 content-[''] block w-full h-1 bg-black;
  }
}

.admin-nav-link {
  @apply p-3 block bg-gray-200;
}

.admin-nav-link__active {
  @apply p-3 block bg-gray-300;
}

.socialMediaList__horizontal {
  @apply flex w-full gap-5 justify-between items-center text-4xl md:text-3xl;
}

.socialMediaList__vertical {
  @apply flex flex-col w-full justify-center content-between text-4xl md:text-3xl;
}

.btn {
  @apply px-6 py-2 border-2 border-black rounded-3xl hover:bg-black hover:text-white transition ;
}

.btn__fixed-length {
  @apply w-72;
}

.field {
  @apply w-full flex flex-col;

  label {
    @apply mb-2 text-text-primary font-medium text-base;
  }

  input, textarea {
    @apply px-3 py-2 border-2 border-gray-100 rounded-md;
  }

  select {
    @apply px-3 py-3 border-2 border-gray-100 rounded-md;

    option {
      @apply py-6
    }
  }

  
}

.checkbox {
  @apply flex flex-row-reverse justify-end;

  label {
    @apply ml-2
  }
}

.form {
  .custom-btn {
    @apply mt-6;
  }
}

.round-btn {
  @apply w-10 h-10 bg-black text-white rounded-full border border-black hover:bg-white hover:text-black transition;
}


// Home Page
.mainHeading {
  @apply text-3xl lg:text-6xl;
}

.subHeading {
  @apply  text-xl lg:text-5xl text-text-secondary mt-3 leading-tight;
}

.greeting-block {
  @apply animate-from-left
}

.btns-block {
  @apply animate-from-right
}


.cta-link {
  @apply w-72 px-6 py-2 border-2 border-black rounded-3xl hover:bg-black text-center hover:text-white transition ;
}


// About Page


// Projects Page


// Contact Page
.pulse {
  @apply animate-pulse;
}

.heading-block {
  animation-duration: 3s;
  animation-name: greeting;
  animation-direction: alternate;
}

@keyframes heading {
  from {
    margin-bottom: -100%;
  }

  to {
    margin-bottom: 0;
  }
}

.line {
  @apply my-10 w-0 h-[2px] mx-auto animate-from-center
}


// Admin Panel
.period {
  
}

.project-form {
  form {
    @apply w-1/2
  }
}