@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Inter;
  @apply flex flex-col min-h-screen;
}

header, main {
  @apply container mx-auto flex justify-between items-center px-2 lg:px-0;
}

main {
  @apply flex min-h-full flex-1 flex-col justify-center;
}

/* Layout */
.nav-menu-mobile {
  @apply animate-from-top;
}

.nav-link {
  @apply relative inline-block font-medium tracking-wide;
}

.nav-link:after {
  @apply relative bottom-0 left-0 content-[''] block w-0 h-1 bg-black transition-[width] duration-300 ease-in-out;
}

.nav-link:hover:after {
  @apply w-full;
}

.nav-link__active {
  @apply relative inline-block font-medium tracking-wide;
}

.nav-link__active:after {
  @apply relative bottom-0 left-0 content-[''] block w-full h-1 bg-black;
}

.socialMediaList__horizontal {
  @apply flex w-full gap-5 justify-between items-center text-5xl md:text-3xl;
}

.socialMediaList__vertical {
  @apply flex flex-col w-full justify-center content-between text-5xl md:text-3xl;
}

.btn {
  @apply px-6 py-2 border-2 border-black rounded-3xl hover:bg-black hover:text-white transition ;
}

.btn__fixed-length {
  @apply w-72;
}

.field-container {
  @apply w-full flex flex-col;
}

.field-label {
  @apply mb-2 text-text-primary font-medium text-base;
}

.field {
  @apply px-3 py-2 border-2 border-gray-100 rounded-md;
}


/* Home Page */
.mainHeading {
  @apply text-3xl lg:text-6xl;
}

.subHeading {
  @apply  text-xl lg:text-5xl text-text-secondary mt-3 leading-tight;
}

.greeting-block {
  @apply animate-from-left
}

.btns-block {
  @apply animate-from-right
}

.social-media {
  /* animation-duration: 3s;
  animation-name: social;
  animation-direction: alternate; */
}

/* @keyframes social {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
} */

.cta-link {
  @apply w-72 px-6 py-2 border-2 border-black rounded-3xl hover:bg-black text-center hover:text-white transition ;
}


/* About Page */


/* Projects Page */


/* Contact Page */
.pulse {
  @apply animate-pulse;
}

.heading-block {
  animation-duration: 3s;
  animation-name: greeting;
  animation-direction: alternate;
}

@keyframes heading {
  from {
    margin-bottom: -100%;
  }

  to {
    margin-bottom: 0;
  }
}

.line {
  @apply my-10 w-0 h-[2px] mx-auto animate-from-center
}