@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Inter;
  @apply flex flex-col min-h-screen;
}

header, main {
  @apply container mx-auto px-2 lg:px-0 bg-white;
}

header {
  @apply flex justify-between items-center;
}

main {
  @apply relative pb-6 flex min-h-full flex-auto flex-col text-sm md:text-base;
}


// Layout
.nav-link {
  @apply relative inline-block font-medium tracking-wide;

  &:after {
    @apply relative bottom-0 left-0 content-[''] block w-0 h-[2px] bg-black transition-[width] duration-300 ease-in-out;
  }

  &:hover:after {
    @apply w-full;
  }
}

.nav-link__active {
  @apply relative inline-block font-medium tracking-wide;

  &:after {
    @apply relative bottom-0 left-0 content-[''] block w-full h-[2px] bg-black;
  }
}

.admin-nav-link {
  @apply p-3 block bg-gray-200;
}

.admin-nav-link__active {
  @apply p-3 block bg-gray-300;
}

.socialMediaList__horizontal {
  @apply flex w-full gap-5 justify-between items-center text-4xl md:text-3xl;
}

.socialMediaList__vertical {
  @apply flex flex-col justify-center content-between gap-10 text-4xl md:text-3xl;
}

.btn {
  @apply px-5 py-2 border-2 border-black rounded-3xl text-xs md:text-base hover:bg-black hover:text-white transition ;
}

.btn__fixed-length {
  @apply w-72;
}

.field {
  @apply w-full flex flex-col;

  label {
    @apply mb-2 font-medium text-base;
  }

  input, textarea {
    @apply px-3 py-2 border-2 rounded-md outline-none;
  }

  select {
    @apply px-3 py-3 border-2 border-gray-100 rounded-md;

    option {
      @apply py-6
    }
  }
}

.checkbox {
  @apply flex flex-row-reverse justify-end;

  label {
    @apply ml-2
  }
}

.form {
  .custom-btn {
    @apply mt-6;
  }
}

.round-btn {
  @apply w-10 h-10 bg-black text-white rounded-full border border-black hover:bg-white hover:text-black transition;
}

.content-list {
  @apply text-gray-700;
  ul {
    @apply pl-5 list-disc
  }
}


// Home Page
.top-block {
  @apply left-0 bottom-0 animate-main-heading-top-text translate-x-0 translate-y-full;
}

.bottom-block {
  @apply top-0 left-0 translate-x-0 -translate-y-full animate-main-heading-bottom-text;
}

.mainHeading {
  @apply text-3xl lg:text-7xl text-center md:text-start;
}

.subHeading {
  @apply text-xl lg:text-5xl text-text-secondary mt-3 leading-tight text-center md:text-start;
}

.greeting-block {
  @apply animate-from-left
}

.btns-block {
  @apply animate-from-right
}


.cta-link {
  @apply w-56 px-6 py-2 border-2 border-black rounded-3xl hover:bg-black text-center hover:text-white transition shadow-xl;
}


// About Page
.certificate-list-item {
  @apply relative w-full text-3xl transition cursor-pointer;

  .backdrop {
    @apply hidden absolute top-0 right-0 bottom-0 left-0 justify-center items-center bg-gray-300 opacity-50 text-black;
  }

  &:hover {
    .backdrop {
      @apply flex ease-in;
    }
  }
}

.certificate-cta-btn {
  @apply absolute top-6 border border-black rounded-full bg-white hover:bg-black text-black hover:text-white transition;
}

// Projects Page
.text-overflow {
  @apply relative max-h-16 overflow-hidden;

  &:before {
    @apply absolute bottom-0 right-0 content-['...'];
  }

  &:after {
    @apply absolute content-[''] right-0 w-[1rem] h-[1rem];
  }
}

// Contact Page
.pulse {
  @apply animate-pulse;
}

.heading-block {
  animation-duration: 3s;
  animation-name: greeting;
  animation-direction: alternate;
}

@keyframes heading {
  from {
    margin-bottom: -100%;
  }

  to {
    margin-bottom: 0;
  }
}

.line {
  @apply my-10 w-0 h-[2px] mx-auto animate-from-center
}


// Admin Panel
.period {
  
}

.project-form {
  form {
    @apply w-1/2
  }
}


// Loader
.loading-container {
  @apply relative w-full max-w-[520px] text-center text-black;
  
  &:before {
    @apply absolute bottom-0 left-0 content-[''] w-full h-[3px] bg-black rounded-lg animate-moving-line;
  }
}

.loading-text {
  @apply mb-12 flex justify-evenly text-xl md:text-3xl leading-7 tracking-wider;
  span {
    @apply relative inline-block translate-x-0 opacity-0 animate-move-letters drop-shadow-xl;
  }
}

@for $i from 1 through 7 {
  .loading-text span:nth-child(#{$i}) {
    animation-delay: $i * 0.1s;
  }
}
