@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Inter;
  @apply flex flex-col min-h-screen;
}

header, main {
  @apply container mx-auto flex justify-between items-center;
}

main {
  @apply flex min-h-full flex-1 flex-col justify-center;
}

/* Layout */
.nav-link {
  @apply relative inline-block font-medium tracking-wide;
}

.nav-link:after {
  @apply relative bottom-0 left-0 content-[''] block w-0 h-1 bg-black transition-[width] duration-300 ease-in-out;
}

.nav-link:hover:after {
  @apply w-full;
}

.nav-link__active {
  @apply relative inline-block font-medium tracking-wide;
}

.nav-link__active:after {
  @apply relative bottom-0 left-0 content-[''] block w-full h-1 bg-black
}

.socialMediaList__horizontal {
  @apply flex w-full gap-5 justify-between items-center text-3xl;
}

.socialMediaList__vertical {
  @apply flex flex-col w-full justify-center content-between text-3xl;
}

.btn {
  @apply px-6 py-2 border-2 border-black rounded-3xl hover:bg-black hover:text-white transition ;
}

.btn__fixed-length {
  @apply w-72;
}

/* Home Page */
.mainHeading {
  @apply text-3xl lg:text-6xl;
}

.subHeading {
  @apply  text-xl lg:text-5xl text-text-secondary mt-3 leading-tight;
}

.greeting-block {
  animation-duration: 3s;
  animation-name: greeting;
  animation-direction: alternate;
}

@keyframes greeting {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

.btns-block {
  animation-duration: 3s;
  animation-name: buttons;
  animation-direction: alternate;
}

@keyframes buttons {
  from {
    margin-right: -100%;
  }

  to {
    margin-right: 0;
  }
}

.social-media {
  /* animation-duration: 3s;
  animation-name: social;
  animation-direction: alternate; */
}

/* @keyframes social {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
} */

.cta-link {
  @apply w-72 px-6 py-2 border-2 border-black rounded-3xl hover:bg-black text-center hover:text-white transition ;
}

/* About Page */

/* Projects Page */

/* Contact Page */