@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100%;
  font-family: Montserrat;
}

@layer base {
  :root {
    /* --radius: 0.5rem; */
    --primary: #222222;
    --secondary: #7B7B7B;
    --tertiary: #F8F8F8;
  }
}

.main-page-heading {
  @apply py-4 md:py-10 w-full text-center text-6xl md:text-[5rem] text-primary leading-[8rem];
}