@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100%;
  font-family: Montserrat;
}

@layer base {
  :root {
    /* --radius: 0.5rem; */
    --primary: #222222;
    --secondary: #7B7B7B;
    --tertiary: #F8F8F8;
  }
}
